h1
{
    text-align: center;
    color: black;
    background-color: green;
}
img
{
    border-width: 5px;
    border-style: solid;
    border-color: green;
}
h2
{
    background-color: blue;
    text-align: center;
    color: white;
}
body
{
    font: 0.85em/1.3 Verdana, Tahoma, sans-serif;
    background-image: url(artemislogo.jpg);
    margin: 20px;
    padding: 0px;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: left;
    margin-right: 0px;
    margin-left: 225px;
}
p
{
    text-indent: 20px;
    color: red;
}