img { border: 2px solid #000; }

.imgborder {
  border: 2px dotted #33ff00;
}

.album img {
  border: 10px ridge #006600;
  height: 174px;
}

.album img {
  border: 10px ridge #006600;
  height: 174px;
  margin: 10px;
  padding: 3px;
  background-color: #800000;
}

.image2
{
border-radius: 10px;
}
.image3
{
border-radius: 25px;
}
.image4
{
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}
.image5
{
border-top-left-radius: 40px;
border-bottom-right-radius: 40px;
}
