p {
    color: maroon;
}

h1,h2 {
    font-family: sans-serif;
    color: gray;
}

h1 {
    border-bottom: 1px solid #000000;
}

.greentea{
    color: green;
}
.raspberry{
    color: blue;
}
.blueberry{
    color: purple; 
}
.cranberry{
    color: maroon;
}